

html, body{
    height:100%;
    padding-top:10px;
    padding-bottom:10px;
    background-color: lightblue;
}
.maingrid{
  height: inherit;



}

.Payce, .Welcome, .Content{

  border: 1px solid black;
}

.Payce{
  height: 10%;

}
.pimg{

  height: 100%;
  background-image: url("/img/paycelogo.png");
  background-size: cover;
}

.Welcome{

  height: 15%;


}

.Content{
  height: 75%;

}

.welcometxt{
  overflow: auto;
  text-align: center;
  font-size: 2vw;
}
