

html, body, .maingrid{
    height:100%;

}
.maingrid{
 background-color: lightblue;

}

.toprow{
  height: 10%;
  position: relative;

 }


 .middlerow{
   height:15%;
   background-color:  #E6E6DC;
   border: 1px solid black;
   position: relative;
   text-align: center;


 }

 .cntrtxt{
   top:20%;
   bottom:20%;
   left:40%;
   right:40%;
   position: absolute;
   font-size: 24px;


 }
 .bottomrow{
   height:75%;

 }

.content{
  height: inherit;

}

.display{
  height: 100%;
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 30px;
}

.leftside{
  height: 100%;

  border: 1px solid black;
  padding:10px;
}

.EntryField{
  height: 20%;
}
.scanimg{
  height:80%;
  border: 1px solid grey;
  background-image: url("/img/scanTicket.png");
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
}
