

html, body{
    height:100%;
    padding-top:10px;
    padding-bottom:10px;
    background-color: lightblue;
}
.maingrid{
  height: inherit;



}

.Payce, .Welcome, .Content{

  border: 1px solid black;
}

.Payce{
  height: 10%;

}

.Welcome{
  height: 15%;


}

.Content{
  height: 75%;

}

.welcometxt{


  top: 40%;

  font-size: 200%;
  text-align: center;



}
